<div class="box-header">
  <i class="fa fa-ambulance" ng-class=""></i>
  <h3 class="box-title">Vehicles</h3>
  <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
    <button type="button" class="btn btn-primary btn-success">Create Vehicle</button>
    <button ng-click="removeComponent()" style="padding: 10px" class="btn btn-box-tool"><i class="fa fa-times" ></i></button>
    <button  ng-click="minComponent()" style="padding: 10px" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
    <button ng-click="maxComponent()" style="padding: 10px" class="btn btn-box-tool"><i class="fa fa-external-link" ></i></button>
  </div>
</div>
