<div class="content-widscreen" style="margin: 20px;">
  <div class="row">
    <div align="center" class="table-responsive">
      <table class="table table-bordered">
        <thead>
	  <tr>
            <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
            <th><a href="" ng-click="predicate = 'createdAt'; reverse=!reverse">Id</a></th>
            <th>Edit</th>
	  </tr>
        </thead>
        <tbody>
	  <tr ng-repeat="object in objects | filter:searchParam.attributes.$ | orderBy:predicate:reverse">
	    <td>{{object.attributes.id}}</td>
	    <td>{{object.attributes.name}}</td>
            <td><a href="#/devices/{{object.id}}"> <button class="btn btn-primary">Edit</button></a></td>
	  </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
