<div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-2">
        <button class="btn btn-success" ng-if="canAddElement()" ng-click="addElement()">Add</button>
      </div>
      <div ng-repeat="element in nemsisHeader.attributes.elements">
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-model="element.attributes.value"/>
        </div>
        <div class="col-xs-2">
          <button class="btn btn-warning" ng-if="canDeleteElement()" ng-click="deleteElement(element)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
