<div ng-controller="FacilityListCtrl">
  <div class="box" id="facilityListContainer">
    <div class="box-header">
      <i class="fa fa-h-square"></i>
      <h3 class="box-title">Facilities</h3>
      <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
        <button type="button" class="btn btn-primary btn-success">Add Facility</button>
        <button style="padding: 10px" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove" ng-click="removeComponent()"><i class="fa fa-times"></i></button>
        <button style="padding: 10px" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove" ng-click="toggleComponent()"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <div class="box-body" id="facilityComponentBody">
      <div align="center" class="table-responsive">

        <table class="table table-bordered">
          <thead>
	    <tr>
              <th><a href="" ng-click="predicate = 'attributes.name'; reverse=!reverse">Name</a></th>
              <th><a href="" ng-click="predicate = 'attributes.address'; reverse=!reverse">Address</a></th>
              <th><a href="" ng-click="predicate = 'attributes.type.attributes.codeDescription'; reverse=!reverse">Type</a></th>
              <th><a href="" ng-click="predicate = 'attributes.comments'; reverse=!reverse">Information</a></th>
              <th>Edit Facility</th>
              <th>Delete Facility</th>
	    </tr>
          </thead>
          <tbody>
	    <tr ng-repeat="object in objects | filter:searchParam:strict | orderBy:predicate:reverse">
	      <td>{{object.attributes.name}}</td>
	      <td>{{object.attributes.address + ", " + object.attributes.city + ", " + object.attributes.state + ", " + object.attributes.zip}}</td>
	      <td>{{object.attributes.type.attributes.codeDescription}}</td>
	      <td>{{object.attributes.comments}}</td>
              <td><a ng-href="#/facilities/{{object.id}}"> <button class="btn btn-primary">Edit</button></a></td>
              <td><button class="btn btn-danger" ng-click="deleteObject(object)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="box-footer">
    </div>
  </div>
</div>
