<div class="content-widscreen" style="margin: 20px;">
  <form name="form"  role="form" class="form" novalidate>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="firstName">First Name</label>
        <input ng-model="object.attributes.firstName" type="text" class="form-control" id="firstName" placeholder="First Name" required/>
      </div>

      <div class="form-group col-md-3">
        <label for="lastName">Last Name</label>
        <input ng-model="object.attributes.lastName" type="text" class="form-control" id="lastName" placeholder="Last Name" required/>
      </div>

      <div class="form-group col-md-3">
        <label for="lastName">Username</label>
        <input ng-model="object.attributes.username" type="text" class="form-control" id="lastName" placeholder="Last Name" required/>
      </div>

    </div>
    <div class="row">

      <div class="form-group col-md-2">
        <label for="phone">Phone Number</label>
        <input ng-model="object.attibutes.phone" type="text" class="form-control" id="phone" placeholder="Phone"/>
      </div>

      <div class="form-group col-md-2">
        <label for="phone">Email</label>
        <input ng-model="object.attibutes.email" type="text" class="form-control" id="email" placeholder="Email"/>
      </div>

      <div class="form-group col-md-2">
	<label for="patient">Role</label>
	<select class="form-control" ng-model="role">
	  <option class="form-control" value=""></option>
	  <option class="form-control" value="EMT">EMT</option>
	  <option class="form-control" value="Manager">Manager</option>
	  <option class="form-control" value="Administrator">Administrator</option>
        </select>
      </div>


    </div>
  </form>
</div>
