<div class="content-widscreen" style="margin: 20px;">
  <div class="row">
    <div id="dispatchTable" align="center" class="table-responsive">
      <table ng-table="tableParams" class="table table-bordered">
        <thead>
	  <tr>
            <th><a href="" ng-click="predicate = 'username'; reverse=!reverse">Name</a></th>
            <th><a href="" ng-click="predicate = 'createdAt'; reverse=!reverse">Joined</a></th>
            <th><a href="" ng-click="predicate = 'role'; reverse=!reverse">Role</a></th>
            <th>Edit</th>
	  </tr>
        </thead>
        <tbody>
	  <tr ng-repeat="object in objects | filter:searchParam.$ | orderBy:predicate:reverse">
	    <td>{{object.attributes.username}}</td>
	    <td>{{object.attributes.createdAt}}</td>
	    <td>{{object.attributes.role}}</td>
            <td><a href="#/users/{{object.attributes.id}}"> <button class="btn btn-primary">Edit</button></a></td>
	  </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
