<div class="container-widescreen" style="margin-right : 5%; margin-left: 5%">
  <div class="page-header" style="margin-top: 0px; margin-bottom: 15px;">
    <div class="row">
      <div class="col-sm-5">
        <h1 style="margin-top: 10px;">Update Ipad Configurations</h1>
      </div>
      <div class="col-sm-2 col-sm-offset-4">
        <button class="btn btn-lg btn-primary" style="margin-top: 10px;" ng-click="save()">Update</button>
      </div>
    </div>

    <div class="row">
      <table ng-table="tableParams" class="table table-bordered">
        <thead>
          <tr>
            <th>Element Number</th>
            <th>Element Name</th>
            <th>Definition</th>
            <th>Usage</th>
            <th>Capturing</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="header in headers">
            <td><h4>{{header.attributes.ElementNumber}}</h43></td>
            <td>{{header.attributes.ElementName}}</td>
            <td>{{header.attributes.Definition}}</td>
            <td>{{header.attributes.Usage}}</td>
            <td class="col-md-2">
              <div class="form-group">
                <div class="btn-group" ng-class="{disabled: true}">
                  <label class="btn btn-default" ng-model="header.capturing" btn-radio="true">Yes</label>
                  <label class="btn btn-default" ng-model="header.capturing" btn-radio="false">No</label>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
