<div ng-include="'partials/nav.html'"></div>

<div class="container-widescreen" style="margin-right : 5%; margin-left: 5%">
  <div class="page-header" style="margin-top: 10px; margin-bottom: 15px;">
    <div class="row">
      <div class="col-sm-5">
        <h1>Update {{section.attributes.name}}</h1>
      </div>
      <div class="col-sm-2 col-sm-offset-3">
        <button class="btn btn-lg btn-primary" style="margin-top: 15px;" ng-click="updateSection()">Update</button>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-lg btn-danger" style="margin-top: 15px;" ng-click="deleteSection()">Delete</button>
      </div>
    </div>
  </div>
  <div ng-include="'partials/nemsis/section.html'"></div>
  <div ng-if="subNemsisSections" ng-include="'partials/nemsis/subSections.html'"></div>
</div>
