<div class="container-widescreen" style="margin-right: 2%; margin-left: 2%">
  <div class="row">
    <header>
      <h3>Nemsis Elements</h3>
    </header>
  </div>

  <div class="row">
    <table ng-table="tableParams" class="table table-bordered">
      <thead>
        <tr>
          <th>Element Number</th>
          <th>Element Name</th>
          <th>Definition</th>
          <th>Usage</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="element in section.get('elements')">
          <td class="col-xs-1">{{element.get('title')}}</td>
          <td class="col-xs-1">{{element.get('header').get('ElementName')}}</td>
          <td class="col-xs-3">{{element.get('header').get('Definition')}}</td>
          <td class="col-xs-1">{{element.get('header').get('Usage')}}</td>
          <td><div ng-include="getElementTemplate(element)"></div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
