<div ng-controller="FacilityCtrl">
  <div class="box-header">
    <i class="fa fa-h-square"></i>
    <h3 class="box-title">{{title}}</h3>
    <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
      <button type="button" class="btn btn-primary btn-warning" id="facilityBackButton">Back</button>
      <button ng-click="removeComponent()" style="padding: 10px" class="btn btn-box-tool"><i class="fa fa-times" ></i></button>
      <button  ng-click="minComponent()" style="padding: 10px" class="btn btn-box-tool"><i class="fa fa-minus"></i></button>
      <button ng-click="maxComponent()" style="padding: 10px" class="btn btn-box-tool"><i class="fa fa-external-link" ></i></button>
    </div>
  </div>


  <div class="box-body" id="facilityBody" style="overflow: scroll; padding-left: 10px; padding-right; 10px; padding-bottom: 0px;">
  <form name="facilityForm">
    <div class="row">
      <div class="form-group col-md-4" ng-class="{ 'has-error': contactForm.firstName.$invalid }">
        <label for="firstName">First Name</label>
        <input ng-model="contact.attributes.firstName" type="text" name="firstName" class="form-control" id="firstName" placeholder="First Name" required/>
      </div>

      <div class="form-group col-md-1">
        <label for="middleInitial">M.I</label>
        <input ng-model="contact.attributes.middleInitial" type="text" class="form-control" id="middleInitial" placeholder="Middle"/>
      </div>

      <div class="form-group col-md-3" ng-class="{ 'has-error': contactForm.lastName.$invalid }">
        <label for="lastName">Last Name</label>
        <input ng-model="contact.attributes.lastName" name="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name" required/>
      </div>

      <div class="form-group col-md-4" ng-class="{ 'has-error': contactForm.type.$invalid }">
        <label for="type">Type</label>
         <select class="form-control" id="type" ng-model="contact.attributes.type" ng-options="type as type.attributes.codeDescription for type in contactTypes track by type.id" name="type" required>
        </select>
       </div>
    </div>

    <div class="row">
      <div class="form-group col-md-4">
        <label for="address">Address</label>
        <input ng-model="contact.attributes.address" type="text" class="form-control" id="address" placeholder="Address" typeahead="address.formatted_address for address in addressTypeAhead($viewValue)" typeahead-loading="loadingLocations"  typeahead-on-select="setAddress($item)" typeahead-wait-ms="100"/>
      </div>
      <div class="form-group col-md-3">
        <label for="city">City</label>
        <input ng-model="contact.attributes.city" type="text" class="form-control" id="city" placeholder="City"/>
      </div>
      <div class="form-group col-md-1">
        <label for="state">State</label>
        <input ng-model="contact.attributes.state" type="text" class="form-control" id="state" placeholder="State"/>
      </div>
      <div class="form-group col-md-2">
        <label for="country">Country</label>
        <input ng-model="contact.attributes.country" type="text" class="form-control" id="county" placeholder="County"/>
      </div>
      <div class="form-group col-md-2">
        <label for="zip">Zip Code</label>
        <input ng-model="contact.attributes.zip" type="text" class="form-control" id="zip" placeholder="Zip"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-8">
            <label for="phone">Phone Numbers</label>
          </div>
          <div class="col-md-4">
            <button class="btn btn-success" ng-click="addPhone()">Add Number</button>
          </div>
        </div>
        <div class="row" ng-repeat="phone in contact.attributes.phoneNumbers track by phone.value" style="margin-top: 1rem;">
          <div class="col-md-6">
            <input ng-model="phone.value" type="text" class="form-control" placeholder="Number"/>
          </div>
          <div class="col-md-3">
            <select ng-model="phone.type" class="form-control">
              <option>Fax</option>
              <option>Home</option>
              <option>Mobile</option>
              <option>Pager</option>
              <option>Work</option>
            </select>
          </div>
          <div class="col-md-3">
            <button class="btn btn-danger" ng-click="removePhone(phone)">Remove</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-8">
            <label for="phone">Email Addresses</label>
          </div>
          <div class="col-md-4">
            <button class="btn btn-success" ng-click="addEmail()">Add Email</button>
          </div>
        </div>
        <div class="row" ng-repeat="email in contact.attributes.emails track by email.value" style="margin-top: 1rem;">
          <div class="col-md-6">
            <input ng-model="email.value" type="text" class="form-control" placeholder="Email"/>
          </div>
          <div class="col-md-3">
            <select ng-model="email.type" class="form-control">
              <option>Personal</option>
              <option>Work</option>
            </select>
          </div>
          <div class="col-md-3">
            <button class="btn btn-danger" ng-click="removeEmail(email)">Remove</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <br>
  <div ng-if="false" section delim="Medical Director" header="Medical Director Information" sectionName="dContact.EMSMedicalDirectorGroup"></div>

  <div class="page-header"></div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-8">
      <button class="btn btn-lg btn-primary" ng-click="saveContact()" ng-disabled="contactForm.$invalid">Save Contact</button>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-lg btn-danger" ng-click="deleteContact()">Delete Contact</button>
    </div>
  </div>
  <br>

</div>
