<div class="content-widscreen" style="margin: 20px;">
  <div class="row">
    <div align="center" class="table-responsive">
      <table class="table table-bordered">
        <thead>
	  <tr>
            <th><a href="" ng-click="predicate = 'attributes.name'; reverse=!reverse">Name</a></th>
            <th><a href="" ng-click="predicate = 'attributes.submitted'; reverse=!reverse">Created By</a></th>
            <th><a href="" ng-click="predicate = 'attributes.submitted'; reverse=!reverse">Created On</a></th>
            <th><a href="" ng-click="predicate = 'attributes.status'; reverse=!reverse">Complete</a></th>
            <th>View PCR</th>
	  </tr>
        </thead>
        <tbody>
	  <tr ng-repeat="object in objects | filter:searchParam:strict | orderBy:predicate:reverse">
            <td>{{object.attributes.name}}</td>
	    <td><a ng-href="{{'#/users/' + object.attributes.user.id}}"><button class="btn btn-primary">{{object.attributes.user.id}}</button></a></td>
	    <td>{{object.createdAt}}</td>
            <td>{{object.attributes.complete}}</td>
            <td><a ng-href="{{'#/pcrs/' + object.id}}"><button class="btn btn-primary">View</button></a></td>
	  </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
