<div ng-controller="DispatchListCtrl">
  <div class="box" id="dispatchListContainer">
    <div class="box-header">
      <i class="fa fa-clipboard"></i>
      <h3 class="box-title">Dispatches</h3>
      <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
        <button type="button" class="btn btn-primary btn-success">Create Dispatch</button>
        <button style="padding: 10px" class="btn btn-box-tool" ng-click="removeComponent()"><i class="fa fa-times" ></i></button>
        <button style="padding: 10px" class="btn btn-box-tool" ng-click="toggleComponent()"><i class="fa fa-minus"></i></button>
        <button style="padding: 10px" class="btn btn-box-tool" ng-click="fullSizeComponent()"><i class="fa fa-external-link"></i></button>
      </div>
    </div>
    <div class="box-body" id="dispatchComponentBody">

      <div align="center" class="table-responsive">
        <table class="table table-bordered">
          <thead>
	    <tr>
              <th><a href="" ng-click="predicate = 'attributes.priority'; reverse=!reverse">Priority</a></th>
              <th><a href="" ng-click="predicate = 'attributes.status'; reverse=!reverse">Status</a></th>
              <th><a href="" ng-click="predicate = 'attributes.pickUpAddress'; reverse=!reverse">Pick-up Address</a></th>
              <th><a href="" ng-click="predicate = 'attributes.dropOffAddress'; reverse=!reverse">Drop-off Address</a></th>
              <th><a href="" ng-click="predicate = 'attributes.pickUpDate'; reverse=!reverse">Pick-up Time</a></th>
              <th><a href="" ng-click="predicate = 'attributes.dropOffDate'; reverse=!reverse">Drop-off Time</a></th>
              <th>Info</th>
              <th>View Patient</th>
              <th>View Vehicle</th>
              <th>Edit Dispatch</th>
              <th>Delete Dispatch</th>
	    </tr>
          </thead>
          <tbody>
	    <tr ng-style="{'background-color': '#' + object.attributes.color}" ng-repeat="object in objects | filter:searchParam | orderBy:predicate:reverse">
	      <td>{{object.attributes.priority.attributes.codeDescription}}</td>
	      <td>{{object.attributes.status}}</td>
              <td>{{object.attributes.pickUpAddress + " " + object.attributes.pickUpCity + " " + object.attributes.pickUpState}}</td>
              <td>{{object.attributes.dropOffAddress + " " + object.attributes.dropOffCity + " " + object.attributes.dropOffState}}</td>
              <td>{{(object.attributes.pickUpDate.getMonth() + 1) + "/" + object.attributes.pickUpDate.getDate() + "/" + object.attributes.pickUpDate.getFullYear() + " " + object.attributes.pickUpDate.toTimeString().split(":")[0] + ":" + object.attributes.pickUpDate.toTimeString().split(":")[1]}}</td>
              <td>{{(object.attributes.dropOffDate.getMonth() + 1) + "/" + object.attributes.dropOffDate.getDate() + "/" + object.attributes.dropOffDate.getFullYear() + " " +  object.attributes.dropOffDate.toTimeString().split(":")[0] + ":" + object.attributes.dropOffDate.toTimeString().split(":")[1]}}</td>
              <td>{{object.attributes.comments}}</td>
              <td><a ng-href="#/patients/{{object.attributes.patient.id}}" ng-if="object.attributes.patient"><button class="btn btn-primary">Patient</button></a></td>
              <td><a ng-href="#/vehicles/{{object.attributes.vehicle.id}}" ng-if="object.attributes.vehicle"><button class="btn btn-primary">{{object.attributes.vehicle.attributes.name}}</button></a></td>
              <td><a ng-href="#/dispatches/{{object.id}}"><button class="btn btn-primary">Edit</button></a></td>
              <td><button class="btn btn-danger" ng-click="deleteObject(object)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="box-footer">

    </div>
  </div>
</div>
