<form name="vehicleForm" novalidate role="form" class="form-horizontal">
  <fieldset>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="name">Name</label>
        <input ng-model="object.attributes.name" type="text" class="form-control" id="name" placeholder="Name" required/>
      </div>
      <div class="form-group col-md-4" style="margin-left: 2px">
        <label for="currentLocation">Current Location</label>
        <input ng-model="object.attributes.currentLocation" type="text" class="form-control" id="curretLocation" placeholder="Current Location"/>
      </div>
    </div>
  </fieldset>
  <div class="row">
    <div class="form-group col-md-3">
      <label for="status">Status</label>
      <select class="form-control" id="status" ng-model="object.attributes.status">
        <option class="form-control" value=""></option>
        <option class="form-control" value="available">available</option>
        <option class="form-control" value="en route">en route</option>
        <option class="form-control" value="unavailable">unavailable</option>
      </select>
    </div>
    <div class="form-group col-md-2" style="margin-left: 2px;">
      <label for="type">Type</label>
      <select class="form-control" id="type" ng-model="object.attributes.type">
        <option class="form-control" value=""></option>
        <option class="form-control" value="1404001 Ambulance">Ambulance</option>
        <option class="form-control" value="1404003 ATV">ATV</option>
        <option class="form-control" value="1404005 Bicycle">Bicycle</option>
        <option class="form-control" value="1404007 Fire Apparatus">Fire Apparatus</option>
        <option class="form-control" value="1404009 Fixed Wing">Fixed Wing</option>
        <option class="form-control" value="1404011 Motorcycle">Motorcycle</option>
        <option class="form-control" value="1404013 Other">Other</option>
        <option class="form-control" value="1404015 Personal Vehicle">Personal Vehicle</option>
        <option class="form-control" value="1404017 Quick Response Vehicle (Non-Transport Vehicle other than Fire Apparatus)">Quick Response Vehicle (Non-Transport Vehicle other than Fire Apparatus)</option>
        <option class="form-control" value="1404019 Rescue">Rescue</option>
        <option class="form-control" value="1404021 Rotor Craft">Rotor Craft</option>
        <option class="form-control" value="1404023 Snow Vehicle">Snow Vehicle</option>
        <option class="form-control" value="1404025 Watercraft">Watercraft</option>
      </select>
    </div>

    <div class="form-group col-md-2" style="margin-left: 2px;">
      <p style="margin-bottom: 5px"><b>Active</b></p>
      <div class="btn-group">
        <label class="btn btn-default" ng-model="object.attributes.active" btn-radio="true">Yes</label>
        <label class="btn btn-default" ng-model="object.attributes.active" btn-radio="false">No</label>
      </div>
    </div>
  </div>

  <div class="row" ng-show="false">
    <h4>Current Personnel</h4>
    <div class="form-group col-md-3">
      <label for="personnel1">Name</label>
      <input ng-model="form.personnel1" type="text" class="form-control" id="personnel1" placeholder="Staff"/>
    </div>

    <div class="form-group col-md-3">
      <label for="personnel2">Name</label>
      <input ng-model="form.personnel2" type="text" class="form-control" id="personnel2" placeholder="Staff"/>
    </div>
  </div>
</form>
