<div class="content-widscreen" style="margin: 20px;">
  <div class="row">
    <div align="center" class="table-responsive">
      <table class="table table-bordered">
        <thead>
	  <tr>
            <th><a href="" ng-click="predicate = 'attributes.name'; reverse=!reverse">Name</a></th>
            <th><a href="" ng-click="predicate = 'attributes.status'; reverse=!reverse">Status</a></th>
            <th><a href="" ng-click="predicate = 'attributes.currentLocation'; reverse=!reverse">Current Location</a></th>
            <th><a href="" ng-click="predicate = 'attributes.pickUpAddress'; reverse=!reverse">Pick-up Address</a></th>
            <th><a href="" ng-click="predicate = 'attributes.dropOffAddress'; reverse=!reverse">Drop-off Address</a></th>
            <th><a href="" ng-click="predicate = 'attributes.patient'; reverse=!reverse">Patient</a></th>
            <th><a href="" ng-click="predicate = 'attributes.dispatch'; reverse=!reverse">Dispatch</a></th>
            <th>View Vehicle</th>
	  </tr>
        </thead>
        <tbody>
	  <tr ng-repeat="object in objects | filter:searchParam:strict | orderBy:predicate:reverse">
            <td>{{object.attributes.name}}</td>
	    <td>{{object.attributes.status}}</td>
            <td>{{object.attributes.currentLocation}}</td>
            <td>{{object.attributes.currentDispatch.attributes.pickUpAddress}}</td>
            <td>{{object.attributes.currentDispatch.attributes.dropOffAddress}}</td>
            <td><a ng-href="#/patients/{{object.attributes.patient.id}}" ng-show="object.attributes.patient"> <button class="btn btn-primary">Patient</button></a></td>
            <td><a ng-href="#/dispatches/{{object.attributes.currentDispatch.id}}" ng-show="object.attributes.currentDispatch"><button class="btn btn-primary">Dispatch</button></a></td>
            <td><a ng-href="#/vehicles/{{object.id}}" ><button class="btn btn-primary">View Vehicle</button></a></td>
	  </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
