<div class="row">
  <header>
    <h3>Nemsis Information</h3>
  </header>
</div>

  <div class="row">
    <h3>{{section.get('name')}}</h3>
    <table ng-table="tableParams" class="table table-bordered">
      <thead>
        <tr>
          <th>Element Number</th>
          <th>Element Name</th>
          <th>Definition</th>
          <th>Usage</th>
          <th>Current Value</th>
          <th>Add Element</th>
          <th>Delete Element</th>
        </tr>
      </thead>
      <tbody>
	<tr ng-repeat="element in section.get('elements')">
          <td class="col-xs-1">{{element.get('title')}}</td>
          <td class="col-xs-1">{{element.get('header').get('ElementName')}}</td>
          <td class="col-xs-3">{{element.get('header').get('Definition')}}</td>
          <td class="col-xs-1">{{element.get('header').get('Usage')}}</td>
          <td><div ng-include="element.template"></div></td>
          <td class="col-xs-1"><button class="btn btn-default" ng-show="element.isMulti" ng-click="addElement(section, element)">Add</button></td>
          <td class="col-xs-1"><button class="btn btn-default" ng-show="canDeleteElement(section, element)" ng-click="deleteElement(section, element)">Delete</button></td>
	</tr>
      </tbody>
    </table>
  </div>


  <div class="row" ng-if="section.get('sections')">
    <h3>Sub Sections</h3>
    <table ng-table="tableParams" class="table table-bordered">
      <thead>
        <tr>
          <td>Name</td>
          <td>Created At</td>
          <td>Id Number</td>
          <td>Edit</td>
          <td>Add Section</td>
          <td>Delete Section</td>
        </tr>
        </thead>
      <tbody>
        <tr ng-repeat="section2 in section.get('sections')">
          <td class="col-xs-1">{{section2.get('name')}}</td>
          <td class="col-xs-1">{{section2.createdAt}}</td>
          <td class="col-xs-1">{{section2.id}}</td>
          <td class="col-xs-1"><a ng-href="#/configs/nemsis/{{section2.id}}"><button class="btn btn-primary">Edit</button></a></td>
          <td class="col-xs-1"><button class="btn btn-default" ng-show="canAddSection(section2)" ng-click="addSection(section, section2)">Add</button></td>
          <td class="col-xs-1"><button class="btn btn-default" ng-show="canDeleteSection(section, section2)" ng-click="deleteSection(section, section2)">Delete</button></td>
        </tr>
        </tbody>
    </table>
  </div>
</div>
