<div ng-include="'partials/nav.html'"></div>

<div class="container-widescreen" style="margin-right : 5%; margin-left: 5%">
  <div class="page-header" style="margin-top: 10px; margin-bottom: 15px;">
    <div class="row">
      <div class="col-sm-12">
        <h1>Configurations</h1>
      </div>
    </div>
  </div>

  <div id="NemsisConfigs" style="text-align: center">
    <h2>Nemsis Configurations</h2>
    <br>
    <div class="btn-group-lg btn-group-justified">
      <div class="btn-group">
        <a ng-href="#/configurations/nemsis/dAgency"><button type="button" class="btn btn-lg btn-default">Agency</button></a>
      </div>
      <div class="btn-group">
        <a ng-href="#/configurations/nemsis/dConfiguration"><button type="button" class="btn btn-lg btn-default">Configurations</button></a>
      </div>
      <div class="btn-group">
        <a ng-href="#/configurations/nemsis/dContact"><button type="button" class="btn btn-lg btn-default">Contacts</button></a>
      </div>
    </div>
    <br>
    <div class="btn-group-lg btn-group-justified">
      <div class="btn-group">
        <a ng-href="#/configurations/nemsis/dCustomConfiguration"><button type="button" class="btn btn-lg btn-default">Custom Configuration</button></a>
      </div>
      <div class="btn-group">
        <a ng-href="#/configurations/nemsis/dCustomResults"><button type="button" class="btn btn-lg btn-default">Custom Results</button></a>
      </div>
      <div class="btn-group">
        <a ng-href="#/configurations/nemsis/dDevice"><button type="button" class="btn btn-lg btn-default">Devices</button></a>
      </div>
    </div>
    <br>
    <div class="btn-group-lg btn-group-justified">
      <div class="btn-group">
        <a ng-href="#/configurations/nemsis/dFacility"><button type="button" class="btn btn-lg btn-default">Facilities</button></a>
      </div>
      <div class="btn-group">
        <a ng-href="#/configurations/nemsis/dLocation"><button type="button" class="btn btn-lg btn-default">Locations</button></a>
      </div>
      <div class="btn-group">
        <a ng-href="#/configurations/nemsis/dPersonnel"><button type="button" class="btn btn-lg btn-default">Personnel</button></a>
      </div>
    </div>
    <br>
    <div class="btn-group-lg btn-group-justified">
      <div class="btn-group">
        <a ng-href="#/configurations/nemsis/dState"><button type="button" class="btn btn-lg btn-default">State</button></a>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-lg btn-default">&nbsp</button>
      </div>
      <div class="btn-group">
        <a ng-href="#/configurations/nemsis/dVehicle"><button type="button" class="btn btn-lg btn-default">Vehicles</button></a>
      </div>
    </div>
  </div>

  <br>
  <div id="IpadConfigurations" style="text-align: center">
    <h2>Ipad Configurations</h2>
    <br>
    <div class="btn-group-lg btn-group-justified">
      <div class="btn-group">
        <button type="button" class="btn btn-lg btn-default">&nbsp</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-lg btn-default">Captured Elements</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-lg btn-default">&nbsp</button>
      </div>
    </div>
  </div>
</div>
