<div class="container">
  <div class="page-header">
    <h1 style="font-size: 44px;">Contact</h1>
  </div>
  <div class="well">

    <div class="row">
      <div class="col-md-12">
        <h3>Neil Bouvier</h3>
        <p>Email: bouvierneil@hotmail.com</p>
        <p>Phone: (518) XXX-XXXX</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Chris Alvero</h3>
        <p>Email: calvero@empireambulance.com</p>
        <p>Phone: (518) XXX-XXXX</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Bob Something</h3>
        <p>Email: bob@gkbntechnologies.com</p>
        <p>Phone: (518) XXX-XXXX</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Derek Arner</h3>
        <p>Email: doman412@gmail.com</p>
        <p>Phone: (518) XXX-XXXX</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Dylan Castine</h3>
        <p>Email: yintothayang@gmail.com</p>
        <p>Phone: (518) XXX-XXXX</p>
      </div>
    </div>

  </div>
</div>
