<div ng-include="'partials/nav.html'"></div>

<div id="spinner"></div>
<div class="container-widescreen" style="margin-right: 5%; margin-left: 5%">
  <div class="page-header" style="margin-top: 10px; margin-bottom: 15px;">
    <div class="row">
      <div class="col-sm-5">
        <h1>{{type}} {{objectType}}</h1>
      </div>
      <div class="col-sm-1 col-sm-offset-2">
        <button class="btn btn-lg btn-primary" style="margin-top: 15px;" ng-click="saveObject()">Save</button>
      </div>
      <div class="col-sm-1 col-sm-offset-1">
        <button class="btn btn-lg btn-danger" style="margin-top: 15px;" ng-click="deleteObject()">Delete</button>
      </div>
    </div>
  </div>

  <div ng-include="getPartial()"></div>

  <div ng-if="object.nemsis" ng-include="'partials/nemsis/nemsis.html'" style="margin-right: 2%; margin-left: 2%"></div>
</div>
