<div class="container">
  <div class="page-header">
    <h1 style="font-size: 44px;">Documentation</h1>
  </div>

  <div class="jumbotron" style="padding-top: 20px">
    <h2>Overview</h2>
    <p>All Objects (Dispatches, Vehicles, Patients, etc) are Created, Updated, and Deleted the same way. </p>
    <br>
    <div class="row">
      <div class="col-md-12">
      <label>fig. 1</label>
        <img class="img-responsive" src="images/documentation/createExample.png" alt="createExample" class="img-rounded">
      </div>
    </div>
    <br>
    <p>Figure 1 shows the common interface for creating any of the Objects (currently a Dispatch Object). The green "Add Dispatch" button will create a new Dispatch Object, which will then display the Update interface where changes to the new Dispatch can be made. This workflow is the same for all of the Objects, not just Dispatch.</p>
    <br>


    <div class="row">
      <div class="col-md-12">
      <label>fig. 2</label>
        <img class="img-responsive" src="images/documentation/updateExample.png" alt="updateExample" class="img-rounded">
      </div>
    </div>

    <br>
    <p>After the "Add Dispatch" button has been clicked from the previous figure, the system goes to the Update interface. This interface is where all updates to the Objects can be made. Once the blue "Update" button has been clicked the changes to the Object are saved, and the system returns to the Object list view. The red "Delete" button will immediately delete the current Object being edited, then the system will return to the Object list view</p>



  </div>

  <div class="jumbotron" style="padding-top: 20px">
    <h2>Searching and Filtering</h2>
    <p>All Objects can be searched and filtered in the same manner. Each Object has specific attributes pertaining to the type of Object it is, for example a Dispatch has a pickUp and dropOff time. All Objects can be searched for, or filtered by any of these attributes</p>

    <br>


    <div class="row">
      <div class="col-md-12">
      <label>fig. 2</label>
        <img class="img-responsive" src="images/documentation/searchExample.png" alt="searchExample" class="img-rounded">
      </div>
    </div>
    <br>

    <p>There are a variety of ways Objects can be searched and filtered for.</p>
    <p>1. The Search box: </p>
  </div>

</div>
