<div class="container-widescreen" style="margin-right : 5%; margin-left: 5%">
  <div class="page-header" style="margin-top: 0px; margin-bottom: 15px;">
    <div class="row">
      <div class="col-sm-5">
        <h1 style="margin-top: 10px;">Update Ipad Configurations</h1>
      </div>
      <div class="col-sm-2 col-sm-offset-4">
        <button class="btn btn-lg btn-primary" style="margin-top: 10px;" ng-click="saveObject()">Update</button>
      </div>
    </div>

    <div class="row">
      <table ng-table="tableParams" class="table table-bordered">
        <thead>
          <tr>
            <th>Element Number</th>
            <th>Element Name</th>
            <th>Definition</th>
            <th>Usage</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="element in object.attributes.elements">
            <td class="col-xs-1">{{tmpElement.name}}</td>
            <td class="col-xs-1">{{tmpElement.header.get('ElementName')}}</td>
            <td class="col-xs-3">{{tmpElement.header.get('Definition')}}</td>
            <td class="col-xs-1">{{tmpElement.header.get('Usage')}}</td>
            <td>
              <div class="form-group col-md-2" style="margin-left: 2px;">
                <p style="margin-bottom: 5px"><b>Capture</b></p>
                <div class="btn-group">
                  <label class="btn btn-default" ng-model="element" btn-radio="true">Yes</label>
                  <label class="btn btn-default" ng-model="element" btn-radio="false">No</label>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
