<div class="content-widscreen">
  <google-map id="mymap" center="center" zoom="zoom" draggable="true" options="options" mark-click="false">
    <markers>
      <marker ng-repeat="marker in markers" coords="marker" icon="marker.icon" idKey="marker.idKey">
	<window>
	  <div ng-controller="WindowCtrl">
	    <table class="table table-condensed table-bordered" style="font-size: 18px;">
	      <tr>
		<th>Vehicle:</th>
		<th><button class="btn btn-primary" ng-click="viewVehicle('{{marker}}')">{{marker.title}}</button></th>
	      </tr>
	      <tr>
		<th>Dispatch:</th>
		<th><button class="btn btn-primary" ng-disabled="marker.dispatchId === None" ng-click="viewDispatch('{{marker}}')">{{marker.dispatchId}}</button></th>
	      </tr>
	      <tr>
		<th>Status:</th>
		<th>{{marker.status}}</th>
	      </tr>
	    </table>
	  </div>
	</window>
      </marker>
    </markers>
  </google-map>
  <div style="position: absolute; top: 60px; left: 150px;">
    <div class="row" style="width: 200%;">

      <div class="col-md-3">
	<button  class="btn btn-primary" ng-click="centerHome()">Home</button>
      </div>

      <form name="form" role="form">
        <div class="col-md-8 col-md-offset-0">
	  <input class="form-control" ng-model="searchAddress" placeholder="Address Search">
        </div>
        <div class="col-md-1 col-md-offset-0">
	  <button  type="submit" class="btn btn-primary" ng-click="searchMap()">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
