  <nav class="navbar navbar-inverse" role="navigation" style="margin-bottom: 0px; border-radius: 0px;" id="nav">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Mobi</a>
      </div>
      <div ng-show="loggedIn">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ng-class="{active: (dir === 'map')}"><a href="#/map">Map</a></li>

            <li class="dropdown" ng-if="role == 'Dispatcher' || role == 'Manager' || role == 'Administrator'">
              <a  class="dropdown-toggle" data-toggle="dropdown">Dispatch<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li ng-class="{active: (dir === 'dispatches')}"><a href="#/dispatches">Dispatches</a></li>

                <li ng-class="{active: (dir === 'facilities')}"><a href="#/facilities">Facilities</a></li>
                <li ng-class="{active: (dir === 'patients')}"><a href="#/patients">Patients</a></li>
                <li ng-class="{active: (dir === 'vehicles')}"><a href="#/vehicles">Vehicles</a></li>
              </ul>
            </li>

            <li class="dropdown" ng-if="role == 'Manager' || role == 'Administrator'">
              <a  class="dropdown-toggle" data-toggle="dropdown">Management<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li ng-class="{active: (dir === 'configurations')}"><a href="#/configurations">Configurations</a></li>
                <li ng-class="{active: (dir === 'users')}"><a href="#/users">Users</a></li>

                <li ng-class="{active: (dir === 'pcrs')}"><a href="#/pcrs">PCRs</a></li>
                <li ng-class="{active: (dir === 'files')}"><a href="#/files">Files</a></li>
              </ul>
            </li>

            <li ng-class="{active: (dir === 'documentation')}"><a href="#/documentation">Documentation</a></li>
            <li ng-class="{active: (dir === 'contact')}"><a href="#/contact">Contact</a></li>
            <li><a ng-click="logout()">Logout</a></li>
            <li style="padding-left: 20px;"><a>{{currentUser.attributes.username}}</a></li>
          </ul>
        </div>
      </div>
      <div class="collapse navbar-collapse">
        <div ng-show="!loggedIn">
          <ul class="nav navbar-nav navbar-right">
            <li ng-class="{active: (dir === 'documentation')}"><a href="#/documentation">Documentation</a></li>
            <li ng-class="{active: (dir === 'contact')}"><a href="#/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
