<div class="container-widescreen" style="margin-right : 5%; margin-left: 5%">
  <div class="page-header" style="margin-top: 0px; margin-bottom: 15px;">
    <div class="row">
      <div class="col-md-3">
        <h2 style="margin-top: 33px">Search {{dir.charAt(0).toUpperCase() + dir.slice(1)}}</h2>
      </div>


      <div class="col-md-2" style="margin-top: 10px">
	<label for="patient">From</label>
        <p class="input-group">
          <input  type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="startDateOpened" min="'1900-01-01'" datepicker-options="dateOptions"  show-weeks="false"/>
          <span class="input-group-btn">
            <button class="btn btn-default" ng-focus="startDateOpened = true" ng-click="startDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>

      <div class="col-md-2" style="margin-top: 10px">
	<label for="patient">To</label>
        <p class="input-group">
          <input  type="text" class="form-control" datepicker-popup="{{format}}" ng-model="endDate" is-open="endDateOpened" min="'1900-01-01'" datepicker-options="dateOptions"  show-weeks="false"/>
          <span class="input-group-btn">
            <button class="btn btn-default" ng-focus="endDateOpened = true" ng-click="endDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>

      <div class="col-md-2" style="margin-top: 10px;">
	<label for="patient">Search Param</label>
	<input ng-model="searchParam" class="form-control" id="searchParam" placeholder="Search">
      </div>

      <div class="col-md-1" style="margin-top: 10px;">
	<label for="patient">Attribute</label>
	<select class="form-control" ng-model="attribute" ng-options="attribute for attribute in objects[0].attributes" required>
	  <option class="form-control" value=""></option>
        </select>
      </div>



      <div class="col-md-2" style="margin-top: 26px;">
        <button class="btn btn-lg btn-success" ng-click="createObject(objectType)" ng-show="{{objectType != 'Installation'}}">Add {{objectType}}</button>
      </div>

    </div>
  </div>
  <div ng-include="getPartial()"></div>
</div>
