<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
        <th ng-repeat="header in nemsisSection.attributes.headers">{{header.attributes.ElementName.split("EMS Personnel's")[1]}}</th>
      </div>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="section in sections">
      <th scope="row">{{$index + 1}}</th>
      <th ng-repeat="values in section.values">
        <div ng-repeat="value in values">
          <p>{{value}}</p>
        </div>
      </th>
      <th><button class="btn btn-info" ng-click="updateSection(section)">Edit</button></th>
      <th><button class="btn btn-danger" ng-click="deleteSection(section)">Delete</button></th>
    </tr>
  </tbody>
</table>

<hi>{{section.attributes.name}}</h1>
