<div id="fileForm">
  <form name="patientForm" novalidate role="form" class="form-horizontal">
    <div id="patientInfo">
      <div class="row" style="margin-left: 25px">
        <div class="form-group col-md-3">
          <label for="fileName">File Name</label>
          <input ng-model="object.attributes.name" type="text" class="form-control" id="fileName" placeholder="File Name" required/>
        </div>
      </div>

      <div class="row" style="margin-left: 8px">
        <div class="col-md-5">
          <label for="fileInfo">File Information</label>
          <textarea ng-model="object.attributes.comments" class="form-control" rows="3" placeholder="Additional Information"></textarea>
        </div>
      </div>

      <div class="row" style="margin-left: 38px; margin-top: 14px;">
	<div class="form-group">
	  <label for="upload">Upload a File</label>
	  <input type="file" id="upload" ng-model="object.attributes.file" required>
	</div>
      </div>

      <div class="row" style="margin-left: 38px; margin-top: 14px;" ng-if="object.attibutes.file">
	<div class="form-group">
	  <label for="upload">Download</label>
          <a ng-href="{{object.attributes.file.url()}}" download><button class="btn btn-primary">download</button></a>
	</div>
      </div>


    </div>
  </form>
</div>
