<div style="margin-right: 30px; margin-left: 30px;">
  <form name="form" role="form" novalidate>
    <div class="row">
      <h3 style="margin-top: 0px">Patient Information</h3>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <label for="patient">Patient</label>
        <input ng-model="form.patient" type="text" class="form-control" id="patient" placeholder="Patient" tooltip-trigger="focus" tooltip-placement="top" tooltip="Patient the dispatch is for, if patient is new create a patient file for them first" typeahead="patient as patient.get('firstName') + ' ' + patient.get('lastName') + ' xxx-xx-' + patient.get('ssn').substr(patient.get('ssn').length - 4) for patient in getPatients($viewValue) | filter:$viewValue" typeahead-on-select="setPatientInfo($item)"/>
      </div>

      <div class="form-group col-md-2">
	<label for="dob">Date of Birth</label>
	<input ng-model="patient.attributes.dob" type="text" class="form-control" id="dob" placeholder="D.O.B" tooltip-trigger="focus" tooltip-placement="bottom" tooltip="Patient's Date of Birth"/>
      </div>


    </div>
  </form>
</div>
