<div ng-controller="VehicleListCtrl">
  <div class="box" id="vehicleListContainer">
    <div class="box-header">
      <i class="fa fa-ambulance"></i>
      <h3 class="box-title">Vehicles</h3>
      <div class="box-tools pull-right" data-toggle="tooltip" title="Status">
        <button type="button" class="btn btn-primary btn-success">Create Vehicle</button>
        <button style="padding: 10px" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove" ng-click="removeComponent()"><i class="fa fa-times" ></i></button>
        <button style="padding: 10px" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove" ng-click="toggleComponent()"><i class="fa fa-minus"></i></button>
        <button style="padding: 10px" class="btn btn-box-tool" ng-click="fullSizeComponent()"><i class="fa fa-external-link"></i></button>
      </div>
    </div>
    <div class="box-body" id="vehicleComponentBody">
      <div align="center" class="table-responsive">
        <table class="table table-bordered">
          <thead>
	    <tr>
              <th><a href="" ng-click="predicate = 'attributes.name'; reverse=!reverse">Name</a></th>
              <th><a href="" ng-click="predicate = 'attributes.status'; reverse=!reverse">Status</a></th>
              <th><a href="" ng-click="predicate = 'attributes.currentLocation'; reverse=!reverse">Current Location</a></th>
              <th><a href="" ng-click="predicate = 'attributes.pickUpAddress'; reverse=!reverse">Pick-up Address</a></th>
              <th><a href="" ng-click="predicate = 'attributes.dropOffAddress'; reverse=!reverse">Drop-off Address</a></th>
              <th><a href="" ng-click="predicate = 'attributes.patient'; reverse=!reverse">Current Patient</a></th>
              <th><a href="" ng-click="predicate = 'attributes.dispatch'; reverse=!reverse">Current Dispatch</a></th>
              <th>Edit Vehicle</th>
              <th>Delete Vehicle</th>
	    </tr>
          </thead>
          <tbody>
	    <tr ng-repeat="object in objects | filter:searchParam:strict | orderBy:predicate:reverse">
              <td>{{object.attributes.name}}</td>
	      <td>{{object.attributes.status}}</td>
              <td>{{object.attributes.currentAddress}}</td>
              <td>{{object.attributes.currentDispatch.attributes.pickUpAddress}}</td>
              <td>{{object.attributes.currentDispatch.attributes.dropOffAddress}}</td>
              <td><a ng-href="#/patients/{{object.attributes.patient.id}}" ng-show="object.attributes.patient"> <button class="btn btn-primary">Patient</button></a></td>
              <td><a ng-href="#/dispatches/{{object.attributes.currentDispatch.id}}" ng-show="object.attributes.currentDispatch"><button class="btn btn-primary">Dispatch</button></a></td>
              <td><a ng-href="#/vehicles/{{object.id}}" ><button class="btn btn-primary">Edit</button></a></td>
              <td><button class="btn btn-danger" ng-click="deleteObject(object)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="box-footer">

    </div>
  </div>
</div>
