<div class="container-widescreen" style="margin-right: 2%; margin-left: 2%">
  <div class="row">
    <header>
      <h3>Nemsis Elements</h3>
    </header>
  </div>

  <div class="row">
    <table ng-table="tableParams" class="table table-bordered">
      <thead>
        <tr>
          <th>Element Number</th>
          <th>Element Name</th>
          <th>Definition</th>
          <th>Usage</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="tmpElement in tmpElements">
          <td class="col-xs-1">{{tmpElement.name}}</td>
          <td class="col-xs-1">{{tmpElement.header.get('ElementName')}}</td>
          <td class="col-xs-3">{{tmpElement.header.get('Definition')}}</td>
          <td class="col-xs-1">{{tmpElement.header.get('Usage')}}</td>
          <td><div ng-include="tmpElement.partialLocation"></div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
